body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

table {
    border: 1px solid #000 !important;
    border-collapse: separate !important;
}

    table td {
        border: 1px solid #000 !important;
    }

    table th {
        border: 1px solid #000 !important;
    }

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

fieldset {
    float: none;
    display: table-cell;
    width: 100%;
}

/*ie10+*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   fieldset{
       float: left;
   }
}


div.vertical-middle {
    vertical-align: middle;
    display: table-cell;
}

.fr {
    float: right !important;
}

.fl {
    float: left !important;
}

.mr0 {
    margin-right: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.mt10 {
    margin-top: 10px !important;
}
