@{
    ViewBag.Title = "No Autorizado";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2></h2>
</hgroup>

<div class="well">
        <fieldset>
            <legend>No tiene permisos</legend>
                
            <h2>Usted no tiene permiso para acceder a esta p&aacute;gina. Contacte a su adminstrador para obtener acceso.</h2>
            <!--end drag_container_the_content_area-->
            <!--end drag_and_drop_container-->
        </fieldset>
</div>

